<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to GOLANG</h1>
    {{ if eq .Username "admin" }}
        <p>Super User: {{ .Username }}</p>
    {{ else }}
        <p>User: {{ .Username }}</p>    
    {{ end }}
    {{ if gt .Age 20 }}
        <p>Age: {{ .Age }}</p>    
    {{ else }}    
        <p>Forbidden You dont have 20 years old</p>
    {{ end }}
    {{ if lt .Money 0 }}
        <p>You dont like to Rich</p>
    {{ else }}
        <p>Money: {{ .Money }}$</p>
    {{ end }}
    <p>
        Hobbies:
    </p>
    <ul>
        {{ range .Hobbies }}
            <li><b>{{ . }}</b></li>
        {{ else }}
            <li>You dont have hobbies</li>
        {{ end }}
    </ul>
</body>
</html>